/******Reset*****
****************/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
/******Color Palette*****
****************/
:root{
--color-red-main: #D60223;
--color-red-half: #f89284;
--color-red-weak: #ffbebe;

--color-brown-weak: #ebd5d2;

--color-blue-main: #0271F7;
--color-blue-half: #d3ffff; 
--color-blue-weak: #8fbff8;

--color-purple-weak: #c2c2f1;

--color-title-weak: #faefd8;
--color-title-strong: #f77a2c;

--standard-color: #ffffff;
--secondary-color: #000000;

}
  /******Backgroud*****
****************/
body{
    font-family:'ssf4', Courier, monospace;
    background: var(--secondary-color);
}
body::before {
    content: '';
    background-image: url("../img/1cYrMYF.gif");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}  

/******Header*****
****************/
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container {
    z-index: 1;
    display: flex;
    justify-content: center;

}
.container .title {
    color: var(--color-title-weak);
    text-transform: uppercase;
    font-size: 52px;
    line-height: 102px;
    -webkit-text-stroke: 2px var(--color-title-strong);
}

/******Layot*****
****************/

.select-character {
    display: flex;
    align-items: center;
    justify-content: center;

}
.select-character .big-character {
    text-align: center;
    width: 30%;
    height: 70vh;
    position: relative;
}
.select-character .big-character
img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.select-character .big-character
.name::before{
    content: '';
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: -15px;
    left: 0;
}

.select-character 
.big-character.character-player1
.name::before {
    background-color: var(--color-blue-main);
}

.select-character 
.big-character.character-player2
.name::before {
    background-color: var(--color-red-main);
}

.select-character .big-character .name h2 {
    color: var(--standard-color);
    font-family: 'command', sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 27px;
}
.select-character .character-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: center;
    gap: 12px;
}


.select-character .character-list .character {
    border: 2px solid var(--standard-color);
    background-color: var(--standard-color);
    width: 30%;
    height: 160px;
    cursor: pointer;
    z-index: 2;
    border-radius: 5px;
    position: relative;
    transition: 0.15s ease-in-out;
}

.select-character .character-list .character img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.select-character .character-list .character.selected {
    border: 2px  solid var(--color-blue-half);
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}

.select-character .character-list .character:hover {
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
    transform: scale(1.07);
    z-index: 2;
}

.select-character .character-list .character.selected-player2 {
    border: 2px solid var(--color-red-half);
    animation: c-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate;
}

.select-character .character-list .character.selected-player2:hover {    
    animation: c-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate;
}

.select-character .character-list .character .tag {
    display: none;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 5px;
    left: 5px;
    color: var(--color-blue-half);
    transition: opacity .3 ease-in-out;
    animation: text-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}

.select-character .character-list .character.selected .tag {
    display: block;
    animation: text-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}

.select-character .character-list .character.selected-player2 .tag {
    display: block;
    animation: text-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate;
}





